.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  color: rgb(57, 121, 216);
}

.TodoCounter span {
  font-weight: bold;
}

.TitleTodo {
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 16px;
  font-weight: bold;
  color: rgb(57, 121, 216);
}
